.contacts {
    &__title {
        margin-bottom: 40px;
        font-weight: 400;
        text-align: center;
    }

    &-row {
        display: flex;
    }

    &-left, &-right {
        width: 50%;
    }

    &__map {
        width: 100%;
        height: 250px;
    }

}