.gallery {
    &__list {
        display: grid;
        grid-template-columns: auto 190px auto;
        grid-template-rows: 250px 250px;
        grid-template-areas: 
            "photo1 photo2 photo3"
            "photo1 photo4 photo5";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 100%;

        a {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .photo1 {
        grid-area:photo1;
    }
    .photo2 {
        grid-area:photo2;
    }
    .photo3 {
        grid-area:photo3;
    }
    .photo4 {
        grid-area:photo4;
    }
    .photo5 {
        grid-area:photo5;
    }
}