.slider {
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .slide-one {
        height: 530px;
        width: 100%;

        @media (max-width: 768px) {
            height: 320px;
        }
    }

    .thumbs-slider {
        height: 130px;
        box-sizing: border-box;
        padding: 10px 0;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .thumbs-slider .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .thumbs-slider .swiper-slide-thumb-active {
        opacity: 1;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 768px) {
            object-fit: contain;
        }
    }
}