@font-face {
	font-family: bickhamscripttwo;
	font-display: swap;
	src: url("../fonts/bickhamscripttwo.woff2") format("woff2"),url("../fonts/bickhamscripttwo.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	}
